.header__lang-link {
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    text-decoration-line: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        font-size: 24px;
        line-height: 1.17;
    }
}