.base-title_type_place {
    font-size: 32px;
    line-height: 1.1;
}

@media screen and (min-width: 768px) {
    .base-title_type_place {
        font-size: 42px;
    }
}

@media screen and (min-width: 1024px) {
    .base-title_type_place {
        font-size: 72px;
        line-height: 76px;
    }
}
