.intro__list-item-name {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
}