.place__title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.1;
}

@media screen and (min-width: 768px) {
    .place__title {
        font-size: 42px;
    }
}

@media screen and (min-width: 1024px) {
    .place__title {
        font-size: 72px;
    }
}