.place__title {
    max-width: 288px;
    margin: 0;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .place__title {
        max-width: 340px;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (min-width: 1280px) {
    .place__title {
        max-width: 460px;
    }
}
