.photo-grid {
    margin: 0 0 64px 0;
    padding: 0 16px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        margin: 0 0 88px 0;
        padding: 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        margin: 0 0 92px 0;
        padding: 0 48px;
    }
}