.tail-cover__title {
    width: 288px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    word-wrap: break-word;
}

@media screen and (min-width: 768px) {
    .tail-cover__title {
        width: 560px;
        font-size: 72px;
        line-height: 76px;
    }
}