.place__image {
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: start;
}

@media screen and (min-width: 768px) {
    .place__image {
        width: 340px;
    }
}

@media screen and (min-width: 1024px) {
    .place__image {
        width: 440px;
    }
}

@media screen and (min-width: 1280px) {
    .place__image {
        width: 460px;
    }
}