.footer__menu-item {
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;

    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    word-wrap: break-word;
}

@media screen and (min-width: 768px) {
    .footer__menu-item {
        font-size: 16px;
        line-height: 1.12;
    }
}