.intro__list {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
}

@media screen and (min-width: 1024px) {
    .intro__list {
        max-width: 690px;
    }
}