.footer__author {
    margin: 48px 0 0 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    word-wrap: break-word;
}

@media screen and (min-width: 768px) {
    .footer__author {
        margin: 0 0 0 auto;
        line-height: 1.14;
    }
}