.base-text_place {
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
}

@media screen and (min-width: 1024px) {
    .base-text_place {
        font-size: 18px;
    }
}