.lead__title {
    max-width: 288px;
    margin: 0 auto 16px auto;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    overflow: hidden;
    word-wrap: break-word;
}

@media screen and (min-width: 768px) {
    .lead__title {
        max-width: 720px;
        margin: 0 auto 32px auto;
        font-size: 96px;
        line-height: 1.04;
    }
}