.lead__title {
    max-width: 288px;
    margin: 0 auto 16px auto;
    padding: 0;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

@media screen and (min-width: 768px) {
    .lead__title {
        max-width: 720px;
        margin: 0 auto 32px auto;
    }
}