.preamble {
    margin: 0 0 34px 0;
    padding: 0 16px 0 16px;
}

@media screen and (min-width: 768px) {
    .preamble {
        padding: 0 24px 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    .preamble {
        max-width: 928px;
        margin: 0 auto 34px auto;
    }
}

@media screen and (min-width: 1280px) {
    .preamble {
        max-width: 984px;
    }
}