.head-cover__pic {
    display: block;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 1024px) {
    .head-cover__pic {
        width: 928px;
        height: 580px;
    }
}

@media screen and (min-width: 1280px) {
    .head-cover__pic {
        width: 984px;
        height: 615px;
    }
}