.directions__card-link {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    text-decoration-line: underline;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
}