.header__subtitle {
    max-width: 288px;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    overflow: hidden;
    word-wrap: break-word;
}

@media screen and (min-width: 768px) {
    .header__subtitle {
        max-width: 640px;
        margin: 0 auto;
        font-size: 30px;
        line-height: 1.2;
    }
}