.lead__subtitle {
    max-width: 288px;
    margin: 0 auto 40px auto;
    padding: 0;
    text-align: center;
    color: #fff;
    overflow: hidden;
    white-space: pre-line;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        max-width: 640px;
        margin: 0 auto 56px auto;
    }
}

@media screen and (min-width: 1024px) {
    .lead__subtitle {
        margin: 0 auto 64px auto;
    }
}