.cover__background {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    object-fit: cover;
    opacity: .8;
    transition: opacity .4s ease-out;
}

@media screen and (min-width: 1184px) {
    .cover__background {
        max-width: 1184px;
        height: 740px;
    }
}

.cover__background:hover {
    opacity: .8;
  }