.base-text_cover {
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
}

@media screen and (min-width: 768px) {
    .base-text_cover {
        font-size: 18px;
        line-height: 1.22;
    }
}