.place {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: 32px;
}

@media screen and (min-width: 768px) {
    .place {
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        gap: 48px 28px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        max-width: 928px;
        gap: 48px 32px;
    }
}

@media screen and (min-width: 1280px) {
    .place {
        max-width: 984px;
        gap: 48px 40px;
    }
}
