.tail-cover__subtitle {
    width: 288px;
    margin: 16px 0 0 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    word-wrap: break-word;
}

@media screen and (min-width: 768px) {
    .tail-cover__subtitle {
        width: 360px;
        margin: 32px 0 0 0;
        font-size: 18px;
        line-height: 22px;
    }
}