.tail-cover__pic {
    position: relative;
    z-index: 0;
    display: block;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
    transition: opacity .4s ease-out;
}

@media screen and (min-width: 1280px) {
    .tail-cover__pic {
        width: 1184px;
        height: 740px;
    }
}